In [2]:
import pandas as pd
from chronos import Chronos2Pipeline

In [4]:
# Load pre-trained Chronos model
pipeline = Chronos2Pipeline.from_pretrained("../models/chronos-2", device_map="auto")

# Load context data for prediction
context_df = pd.read_csv("https://autogluon.s3.us-west-2.amazonaws.com/datasets/timeseries/misc/AirPassengers.csv")

# Generate predictions
pred_df = pipeline.predict_df(
    context_df,
    prediction_length=36,               # Number of steps to forecast
    quantile_levels=[0.1, 0.5, 0.9],    # Quantiles for probabilistic forecast
    id_column="item_id",                # Column identifying different time series
    timestamp_column="Month",           # Column with datetime information
    target="#Passengers",               # Column(s) with time series values to predict
)

In [5]:
pred_df

,item_id,Month,target_name,predictions,0.1,0.5,0.9
0,T1,1961-01-01,#Passengers,450.050354,432.099365,450.050354,468.644348
1,T1,1961-02-01,#Passengers,430.282043,409.596008,430.282043,451.485748
2,T1,1961-03-01,#Passengers,500.741394,473.430237,500.741394,521.984070
3,T1,1961-04-01,#Passengers,494.502991,470.028015,494.502991,517.819702
4,T1,1961-05-01,#Passengers,503.144073,475.057159,503.144073,530.626526
5,T1,1961-06-01,#Passengers,574.798462,542.678406,574.798462,609.059631
6,T1,1961-07-01,#Passengers,641.640686,603.464355,641.640686,681.438110
7,T1,1961-08-01,#Passengers,642.131775,600.986877,642.131775,684.415161
8,T1,1961-09-01,#Passengers,552.328735,509.869354,552.328735,587.885437
9,T1,1961-10-01,#Passengers,484.608521,448.736694,484.608521,519.697327
10,T1,1961-11-01,#Passengers,406.121735,369.224884,406.121735,438.679260
11,T1,1961-12-01,#Passengers,453.221985,416.989136,453.221985,487.030029
12,T1,1962-01-01,#Passengers,459.233215,423.186157,459.233215,494.350037
13,T1,1962-02-01,#Passengers,432.248901,393.865662,432.248901,469.924622
14,T1,1962-03-01,#Passengers,502.128174,459.997589,502.128174,547.349609
15,T1,1962-04-01,#Passengers,495.224670,454.463379,495.224670,534.004761
16,T1,1962-05-01,#Passengers,514.438293,470.703918,514.438293,559.872314
17,T1,1962-06-01,#Passengers,592.928650,537.163208,592.928650,643.075684
18,T1,1962-07-01,#Passengers,669.212646,608.366638,669.212646,728.476929
19,T1,1962-08-01,#Passengers,662.022522,604.321411,662.022522,716.574219
20,T1,1962-09-01,#Passengers,560.003784,505.398468,560.003784,610.341492
21,T1,1962-10-01,#Passengers,491.830231,446.087402,491.830231,538.416260
22,T1,1962-11-01,#Passengers,415.430328,370.198669,415.430328,458.327576
23,T1,1962-12-01,#Passengers,469.286133,425.092712,469.286133,514.414001
24,T1,1963-01-01,#Passengers,480.505890,430.435669,480.505890,525.692810
25,T1,1963-02-01,#Passengers,457.255402,408.619751,457.255402,501.854248
26,T1,1963-03-01,#Passengers,528.188965,470.200378,528.188965,580.917419
27,T1,1963-04-01,#Passengers,528.376587,472.674561,528.376587,578.227173
28,T1,1963-05-01,#Passengers,546.955566,486.573059,546.955566,600.729431
29,T1,1963-06-01,#Passengers,621.412659,543.849609,621.412659,684.825562
30,T1,1963-07-01,#Passengers,709.021729,627.649780,709.021729,780.799438
31,T1,1963-08-01,#Passengers,698.875427,619.223511,698.875427,770.765015
32,T1,1963-09-01,#Passengers,607.319397,523.250305,607.319397,674.124329
33,T1,1963-10-01,#Passengers,535.917542,461.696777,535.917542,596.697388
34,T1,1963-11-01,#Passengers,452.832336,385.839783,452.832336,510.053680
35,T1,1963-12-01,#Passengers,518.729187,443.125916,518.729187,579.043884